/*#1C82D6 màu xanh*/
.carousel-inner > .item > img,  .carousel-inner > .item > a > img {
			width: 100%;
			max-height: 600px;
			margin: auto;
}

#banner img {
	width: 8%;
	height: 1%;
}

.menutrangchu ul li a {
	color: #8b0304;
}

.container-fluid{
	background-color: #039be5;/*#f8f2dc;*/
	overflow:hidden;
	padding-right: 0px;
    padding-left: 0px;
}

.navbar-default {
    margin-bottom: 0;
}

#slide {
	margin-top: -20px;
}

.btn-success {
    margin-bottom: 15px;
}

h3{
	text-align: center;
}

a{
	text-decoration: none;
}

a:visited { 
text-decoration: none; 
} 

a:hover { 
text-decoration: none; 
} 

a:active { 
text-decoration: none; 
} 

#list ul li a:hover {
	background-color: white;
	color: #8b0304;
}

#list ul li a {
	font-size: 16px;
	color: white;
	font-family: mariaBold;
	font-size: 19px;
}

#login li a:hover{
	background-color: white;
	color: #8b0304;
}
#login li a {
	font-size: 16px;
	color: white;
}

.col-md-6 {
    width: 100%;
}

p {
	color: #8b0304;
}


.position {
    position: relative;
    bottom: 112px;
    transition: all 0.5s linear;
    overflow: hidden;
}

.position:hover {
	transform: translate(0, -20px);
}

.position p:hover {
	color: white;
}


h2{
	color: #8b0304;
	font-size: 36px;
	font-family: mariaBold;
    text-align: center;
    font-weight: bold;
}

h3 {
	color: #8b0304;
	font-size: 28px;
	font-family: mariaBold;
    text-align: center;
    font-weight: bold;
}

.content-img button{
    position: absolute;
}

.content-img .content-detail{
    position: absolute;
}

.content-img:hover img{
    transform: scale(1.05, 1.05);
    transition: 1.5s;
}

.content-img{
    overflow: hidden;
}



.abc {
	display: none;
}


.dropdown-menu {
	display: block;
}



span#btn-to-top {
	border: 2px solid #f8f2dc;
	background-color: #8b0304;
	color: #f8f2dc;
	width: 50px;
	height: 50px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	font-size: 24px;
	line-height: 45px;
	transition: all ease-in-out .2s;
	-webkit-transition: all ease-in-out .2s;
	display: none;
}
span#btn-to-top:hover {
	background-color: #f8f2dc;
	color: #8b0304;
	border: 2px solid #8b0304;
}
span#btn-to-top:hover i {
	transform: translateY(-2px);
}

/*span#btn-to-top {
	border: 1px solid pink;
	background-color: green;
	text-align: center;
	position: absolute;
	right: 5px;
    height: 35px;
    width: 35px;
}*/


li{
	list-style-type: none;
	text-align: justify;
	line-height: 30px;
}

.bien img{
	width: 100%;
}

#sp img {
	width: 100%;
}

.image-container {
    position: relative;
}


.contact  {
	line-height: 33px;
}


.we {
	line-height: 33px;
}


		

		/*ABOUT US*/



.about-us .about-wrap .map .about-title,
.about-us .about-wrap .facebook .about-title,
.about-us .about-wrap .video .about-title,
.about-us .about-wrap .khach-hang .about-title {
	position: relative;
	margin-bottom: 20px;
	padding: 5px 0;
	overflow: hidden;
}

.about-us .about-wrap .map .about-title h3,
.about-us .about-wrap .facebook .about-title h3,
.about-us .about-wrap .video .about-title h3,
.about-us .about-wrap .khach-hang .about-title h3 {
	font-family: mariaBold;
	color: white;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.about-us .about-wrap .khach-hang .quote {
	background: transparent;
	position: relative;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.about-us .about-wrap .khach-hang .quote .quote-detail {
	border: 1px dashed #6c3c3c;
	position: relative;
	margin-bottom: 30px;
	width: 100%;
	border-radius: 10px;
}
.about-us .about-wrap .khach-hang .quote .quote-detail::before {
	content: "";
	position: absolute;
	height: 25px;
	width: 44px;
	bottom: -25px;
	background: url('../img/face_bg.png');
	left: 20px;
}

.about-us .about-wrap .khach-hang .quote .quote-detail p::after,
.about-us .about-wrap .khach-hang .quote .quote-detail p::before {
	position: absolute;
	font-family: "Times New Roman",sans-serif;
	font-size: 80px;
	color: #7d7a70;
	content: "“";
	display: block;
	width: 30px;
	height: 30px;
	line-height: 75px;
}
.about-us .about-wrap .khach-hang .quote .quote-detail p::before {
	top: 15px;
	left: 10px;
}
.about-us .about-wrap .khach-hang .quote .quote-detail p::after {
	transform: rotateY(-180deg);
	right: 5px;
	bottom: 5px;
}
.about-us .about-wrap .khach-hang .quote .quote-detail p
{
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 100%;
	left: 0;
	top: 0;
	text-align: justify;
	padding: 25px 40px 20px 50px;
	font-size: 16px;
	line-height: 24px;
}

.about-us .about-wrap .khach-hang .user {
	width: 100%;
	overflow: hidden;
	padding-left: 15px;
}
.khach-hang .user .avatar {
	border: 2px solid #ae9855;
	width: 25%;
	padding: 2px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin-right: 20px;
}
.khach-hang .user .avatar img {
	width: 100%;
	vertical-align: middle;
	border-radius: 50%;
}

.khach-hang .user .info {
	float: left;
	padding: 0 10px 10px;
}
.khach-hang .user .info h3 {
	font-size: 16px;
	font-family: mariaBold;
}
.khach-hang .user .info p {
	font-size: 16px;
	margin-top: 10px;
	font-style: italic;
}

.about-us .about-wrap .video .video-detail {
	width: 100%;
}

.about-us .about-wrap .video .video-detail #video1 {
	width: 100%;
	padding: 0 15px;
	margin-bottom: 5px;
}

.about-us .about-wrap .video .video-detail #video2,
.about-us .about-wrap .video .video-detail #video3 {
	width: 50%;
	float: left;
	padding: 0 15px;
}
.facebook-detail {
	padding: 0 15px;
}


.fix-sm-md {
	display: none;
}


	/*FOOTER*/

.chat-block .address a address {
	font-family: mariaBold;
	color: white;
	font-size: 18px;
}

.we ul li a,
.contact ul li a {
	font-family: mariaBold;
	color: white;
	font-size: 18px;
}

.fote h4 {
	font-family: mariaBold;
	color: white;
	font-size: 22px;
}


 /*ket thuc footer*/



.content-info button a {
	color: white;
}


.btn-danger {
    margin-bottom: 8px;
    margin-top: 6px;
}

.main-content .content-img img {
	padding-top: 60px
}

.content-info p {
	font-size: 16px;
}


li {
	font-size: 16px;
}


.main-content p {
	font-size: 16px;
}


.noibat1 {
	padding-bottom: 80px;
}

.gioithieu {
	padding-bottom: 50px;
}


.quynhon1 {
	padding-top: 10px;
	padding-bottom: 30px;
}

.quynhon2  {
	padding-top: 10px;
	padding-bottom: 30px;
}

.sptgtu {
	padding-top: 70px;
}

.footer {
	padding-top: 40px;
	padding-bottom: 20px;
}


.ruou {
	padding-top: 15px;
}

.ctdulich  {
	padding-top: 40px;
	padding-bottom: 30px;
}


.content-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-nav li a {
	color : #8b0304;
}

.col-lg-6 button a {
	color: white;
}

.col-lg-6 {
	line-height: 30px;
}

.sangqua {
	padding-top: 30px;
}

.aaa {
	text-indent: 40px;
}

.bbbb {
	line-height: 30px;
}

.cccc {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bienquynhon {
	padding-bottom: 40px;
}

.chitietdulich {
	padding-bottom: 40px;
}

.quytrinhsx {
	padding-bottom: 40px;
}


.btn-set  {
	padding-top: 15px;
	padding-bottom: 50px;
}

span.flag {
    background: url(../img/hot.gif) no-repeat;
    height: 15px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-size: 100%;
    padding: 0px 0px 0px 10px;
    padding-right: 0;
    width: 30px;
    color: #fff;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 13px;
}

span.giamgia {
    background: url(../img/khuyenmai.gif) no-repeat;
    height: 15px;
    display: block;
    position: relative;
    top: 0px;
    right: 15px;
    background-size: 100%;
    padding: 0px 0px 0px 10px;
    padding-right: 0;
    width: 30px;
    color: #fff;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 13px;
}

  /*Nổi bật*/

  .noibat {
	/*background: url('../img/noibat_bg.jpg') 0 0 repeat;*/
	overflow: hidden;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
}

.noibat h2 {
	font-family: mariaBold;
	font-size: 36px;
	color: #8b0304;
	text-align: center;
	font-weight: bold;
}

.noibat .title {
	margin: 0 auto;
	width: 200px;
	margin-top: 10px;
	position: relative;
	margin-bottom: 50px;
}


.noibat .title::before {
	content: "";
	position: absolute;
	height: 1px;
	background-color: #8b0304;
	width: calc((50%) - 20px);
	display: inline-block;
	position: absolute;
	top: calc((50%) - 1px);
	left: 0;
}

.noibat .title::after {
	content: "";
	position: absolute;
	height: 1px;
	background-color: #8b0304;
	width: calc((50%) - 20px);
	display: inline-block;
	position: absolute;
	top: calc((50%) - 1px);
	right: 0;
}


.noibat .title img {
	width: 20px;
	vertical-align: middle;
	display: block;
	margin: auto;
}





.special .list {
	overflow: hidden;
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
.special .item {
	width: 100%;
	border: 1px solid #8b0304;
	overflow: hidden;
}
.special .item .image {
	width: 100%;
	position: relative;
}
.special .list:hover .item .image img {
	opacity: 4;
	transform: scale(1.2);

}
.special .list:hover .item .image .image-overlay {
	opacity: 0.9;
	transition: all 0.5s ease-in-out;
}
.special .item .image .image-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, .8);
	z-index: 1;
	opacity: 0;

}
.special .item .image .image-overlay a {
	border: 1px solid #8b0304;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	padding: 10px;
	-ms-transform: translate(-50%,-50%); 
    -webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	overflow: hidden;
	transition: all ease-in-out .5s;
	text-transform: uppercase;
	color: #8b0304;
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0px;
	font-weight: 550;
	vertical-align: middle;
	font-size: 14px;
}
.special .item .image .image-overlay a:hover {
	color: #fff;
	background-color: #8b0304;
}

.special .item .image .image-overlay a span {
	display: block;
	text-align: center;
	position: relative;
	z-index: 1;
}
.special .item img {
	width: 100%;
	vertical-align: middle;
	transition: all 0.5s ease-in-out;
}

.special .item .description {
	width: 100%;
	position: relative;
	border-top: 1px solid #e8e1c1;
	padding: 0px 10px 10px;
	height: 65px;
	background-image: linear-gradient(to bottom, #ffffff, #fcf4df);
}
.special .item .description h3 {
	font-size: 18px;
	text-align: center;
	color: #8b0304;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family: mariaSemiBold;
}
.special .item .description p {
	font-family: mariaRegular;
	text-align: center;
	font-size: 14px;
	margin-bottom: 0;
}
.special .item .description span a {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #8b0304;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1000;
}


/* ket thuc phan noi bat*/



	/*phần biển trang chủ*/
.col-item {
    position: relative;
    margin-bottom: 20px;
}

.col-home .item-content {
    background: url("../img/bg_50black.png") repeat;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    color: #fff;
    padding: 0px 10px;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    height: 86px;
    transition: all 0.3s ease-out 0s;
}

.col-home .col-item:hover .item-content {
    height: 50%;
    color:  #21ABCD;
}

.col-home .item-content a {
    color: #fff;
    width: 100%;
    display: block;
}

.col-home .col-item:hover a {
    color:  #21ABCD;
}

.col-home .col-item:hover .special-price .price {
    color:  #21ABCD;
}

.col-home .col-home .col-content:hover .info .info-inner .item-title a {
    color:  #21ABCD;
}

.col-home .special-price .price {
    font-size: 15px;
    color: #FFFFFF;
    font-weight: normal;
}

.col-home .col-item .info .info-inner .item-title {
    padding-top: 10px;
}

.col-home .col-item .info .info-inner .item-title a {
    text-transform: uppercase;
    font-weight: 600;
}


.beachqn .col-home .col-item:hover .image-container a img {
	opacity: 0.6;
	transform: scale(1.2);
	transition: all 0.5s ease-in-out;
}

.col-home .col-item .image-container a img {
	width: 100%;
}







.gtbien .title {
	margin: 0 auto;
	width: 200px;
	margin-top: 10px;
	position: relative;
	margin-bottom: 50px;
}


.gtbien .title::before {
	content: "";
	position: absolute;
	height: 1px;
	background-color: #8b0304;
	width: calc((50%) - 20px);
	display: inline-block;
	position: absolute;
	top: calc((50%) - 1px);
	left: 0;
}

.gtbien .title::after {
	content: "";
	position: absolute;
	height: 1px;
	background-color: #8b0304;
	width: calc((50%) - 20px);
	display: inline-block;
	position: absolute;
	top: calc((50%) - 1px);
	right: 0;
}


.gtbien .title img {
	width: 30px;
	vertical-align: middle;
	display: block;
	margin: auto;
}

.gtbien {
	padding-top: 30px;
	padding-bottom: 50px;
}



.tab-content {
	padding-top: 30px;
}


.example {
	text-align: center;
}

.lienhe {
	background-color: white;
}

.content-four {
	padding-top: 20px;
	padding-bottom: 20px;
	background-image: url(../img/dep.jpg);
	background-size: cover;
	color: #fff;
}
.content-four h2 {
	text-align: center;
	margin-bottom: 50px;
}
.content-four .feedback {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}
.content-four .feedback .feedback-user-avatar img {
	border-radius: 50%;
}
.content-four .feedback .feedback-user-content p {
	text-align: justify;
}
.content-four .feedback::before {
	content: "“";
	width: 30px;
	height: 30px;
	line-height: 75px;
	font-size: 80px;
	position: absolute;
	top: 2%;
	left: 30%;
}
.content-four .feedback::after {
	content: "“";
	-webkit-transform: translateY(-180deg);
	-moz-transform: translateY(-180deg);
	-ms-transform: translateY(-180deg);
	-o-transform: translateY(-180deg);
	transform: translateY(-180deg);
	width: 30px;
	height: 30px;
	line-height: 75px;
	font-size: 80px;
	position: absolute;
	bottom: 15%;
	right: 3%;
}

.beachqn .col-home {
	overflow: hidden;
}

.beachqn .col-item {
	overflow: hidden;
	text-align: justify;
}








/* phan trang tang chu*/

.vll{
    background: url("../img/dannang.jpg")
}


.itemm {
	padding-top: 14%;
	padding-bottom:28%;
}


article{
    display: inline-block;
    padding-top: 9%;
    padding-bottom: 14%;
    padding-left: 5.9%;

}

.cr3 i {
	overflow: hidden;
    display: block;
    font-size: 48px;
    line-height: 26px;
    margin-bottom: 8px;
    color: #ffffff;
    padding-top: 55px;
    position: relative;
    top: 0px;
    left:  140px;
}

.circlee {
    text-align: center;

    height: 135px;
}

.item-content1 {
	width: 350px;
	height:200px;
	border:1px solid #ffffff;
	border-radius: 50%;
	background-color:#039be5 ;

}

.item-content1:hover  {
	background-color: pink;
}
