*{
	text-align: center;
	box-sizing: border-box;
	font-size: 27px;
	border-radius: 3px;
}
h1{
	font-size: 30px;
	color: #DC0F0F;
}

#born{
	float: left;
	text-decoration: none;
	width: 100%;
}

#day,#month,#year{	
	border: 1px solid #dddddd;
}
